*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-dark-color:rgb(83,62,38);
    --secondary-dark-color: rgb(133,126,108);
    --operator-dark-color: rgb(242,175,100);
    --equal-button-color: rgb(245,173,42);
    --background-dark-color: rgb(37,39,40);
    --screen-dark-color:rgb(26,28,30);
    --primary-light-color:rgb(244,206,159);
    --secondary-light-color: rgb(252,228,170);
    --operator-light-color: rgb(242,175,98);
    --background-light-color: rgb(255,255,221);
    --screen-light-color:rgb(255,240,211);
    --main-icons-color:rgb(244,196,136);
}
body{
    background-image: url(8369231c-7c77-40c4-88a8-a83d8f1a7873.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.box{
    display: flex;
    justify-content: cente;
    align-items: center;
    height: 450px;
    width: 250px; 
    flex-direction: column;
}
.screen-box{
    background-color: var(--screen-dark-color);
    height: 120px;
    width: 250px;
    border-bottom: 2px solid white ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.theme-box{
    height: 40px;

}
.input{
    height: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 215px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 48px;
    letter-spacing: 1px;
    resize: none;
    outline: none;
}
.button-card{
    height: 320px;
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--background-dark-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttons-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}
.button-row{
    display: flex;
    gap: 10px;
}
.button{
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
}
.other{
    background-color: var(--secondary-dark-color);
}
.operator{
    background-color: var(--operator-dark-color);
}
.numbers{
    background-color: var(--primary-dark-color);
}
.equal{
    background-color: var(--equal-button-color);
}
